
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

.landing-wrapper{
    background-color: #762FCF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#title{
    font-family: 'Bungee Spice', cursive;
    font-size: 5em;
}

#catch{
    margin-bottom: 1em;
}

@media (max-width: 600px) {
    #title{
        font-size: 2.5em;
        margin-top: 1em;
    }

    #catch{
        font-size: 1.3em;
    }
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-img{
    width: 360px;
    margin-bottom: -15px;
}

#btn-main:hover{
    background-color: #FF6B4D;
}